* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-first);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    font-size: var(--font-size-main-p);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-main {
    color: var(--font-color-secondary);
    margin: 2vh;
}

input, button {
    width: 100%;
    padding: 10px 0 10px 0px;
}

input {
    border: none;
    padding-left: 10px;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

button {
    background-color: var(--background-button);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: inset 0 0 10px var(--border-color-main);
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: var(--button-hover);
}

button:active {
    opacity: 1;
}

button[disabled] {
    opacity: 0.7;
}


input:focus{
    outline: var(--background-first) 2px solid;
    box-shadow: inset 0 0 5px var(--background-button);
}

input::-moz-placeholder {
    padding-left: 10px;
}

.form-field {
    display: flex;
    gap: 10px;
    align-items: left;
}

.error {
    display: none; /* Inicialmente escondido */
    flex-direction: column;
    text-align: center;
    background-color: var(--error-color);
    color: black;
    border: none;
    padding: 0.5vh; 
    border-radius: 5px; 
    font-size: 1em; 
    line-height: 1.3em; 
    opacity: 1; 
}


.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #03030362;
}
